.buttons {
  display: flex;
  justify-content: center;
}

.buttons button {
    width: 8rem;
    height: 2.5rem;
}


.form {
    display: flex;
    width: 25%;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    margin-left: 10rem;
}

.form label {
    color: rgba(111, 231, 225, 0.5);
    font-size: 1.2rem;
}



.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  align-items: flex-start;
  background-image: url("/background.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.errorMessage {
    color: red;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

.logo {
    width: 20rem;
    margin-left: 12rem;
}