.first-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60vw;
  border-radius: 1rem;
  margin: 1.5rem 0;
}

.first-card h5 {
  font-size: 3rem;
  font-weight: bolder;
}

.first-card .card-img-top {
  align-self: center;
  border-radius: 100%;
  max-width: 20rem;
  height: 20rem;
}

.main-div .other-card {
  width: 33vw;
  height: fit-content;
  background-color: white;
  padding: 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-right: 2rem;
}

.other-card .card-img-top {
  border-radius: 100%;
  max-width: 15rem;
  height: 15rem;
  align-self: center;
}

.card button,
.other-card button {
  width: fit-content;
  background-color: transparent;
  border: none;
  align-self: flex-end;
}

.card button {
  margin: 0.5rem;
}

.btn-group {
  display: flex;
  justify-content: space-between;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  fill: blur(100px); 
}

.other-card .btn-close {
  align-self: flex-start;
  margin-left: 8px;
}

.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  gap: 2rem;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.modal {
  position: fixed;
  top: 20rem;
  background-color: white;
  right: 25rem;
  left: 25rem;
  z-index: 1;
  padding: 40px;
  border-radius: 10px;
  backdrop-filter: blur(200px);
}
