.modal {
  position: fixed;
  top: 20rem;
  background-color: white;
  right: 25rem;
  left: 25rem;
  z-index: 1;
  padding: 40px;
  border-radius: 10px;
  transform: translate(0, 0);
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 1s ease;
}
