.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(183, 209, 255);
  padding: 15px;
  border-radius: 20px;
}

.container img {
  border-radius: 10px;
  max-width: 20vw;
}

.btn {
  align-self: center;
}